@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
.glitter-button {
  background: rgba(226, 194, 105, 0.75); 
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(12px); 
  -webkit-backdrop-filter: blur(20px);
  border-radius: 2px;
  padding: 12px 28px;
  font-weight: 600;
  font-size: 1rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  transition: all 0.3s ease;
  box-shadow:
    0 4px 30px rgba(0, 0, 0, 0.1),
    0 0 20px rgba(226, 194, 105, 0.4),
    inset 0 0 10px rgba(255, 255, 255, 0.1);
}
 /* creates a layer */
.glitter-button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.25) 1px, transparent 1px);
  background-size: 6px 6px;
  opacity: 0.4;
  pointer-events: none;
  z-index: 1;
  transition: opacity 0.3s ease;
}

.glitter-button:hover {
  background: rgba(226, 194, 105, 0.55);
  box-shadow:
    0 0 25px rgba(226, 194, 105, 0.7),
    0 0 35px rgba(226, 194, 105, 0.5),
    inset 0 0 15px rgba(255, 255, 255, 0.2);
  transform: scale(1.03);
}

.glitter-button:hover::before {
  opacity: 1;
}
/* medium screen */
@media (min-width: 640px) and (max-width: 1023px) {
  .glitter-button {
    color: #031B28 !important;
  }
}

/* Mobile screen: change text color */
@media screen and (max-width: 639px) {
  .glitter-button {
    color: #E2C269;
    background: #031B28;
  }
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Georgia, 'Times New Roman', Times, serif;
}
@keyframes drop-in {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-drop-in {
  animation: drop-in 1s ease-out forwards;
}


input[type='password']::-ms-reveal,
input[type='password']::-ms-clear {
  display: none;
}

input[type='password']::-webkit-credentials-auto-fill-button,
input[type='password']::-webkit-contacts-auto-fill-button {
  display: none !important;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
